/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h3{
    font-size: 1.8em;
    color: #fe4918;
    font-family: 'PT Sans';
    margin: 0;
}

.button{
    background: #fe4918;
    padding: 10px 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald';
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 2px solid #fe4910;
}

.button.hollow,.button.hollow:hover{
    background: white;
    color: #fe4919;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.button:hover,.button.transparente:hover{
    background: #e33000;
}

.float-right{
    float: right;
}

h2::after{
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 80px;
    display: block;
}
.contenedor{
    width: 98%;
    margin: 0;
    
}

@media only screen and (min-width:480px){
    .contenedor{
        width: 95%;
    }
}

@media only screen and (min-width:768px){
    .contenedor{
        width: 90%;
    }
}

@media only screen and (min-width:992px){
    .contenedor{
        width: 90%;
        max-width: 1100px;
    }
}



/*header*/
div.hero{
    background-image: url('../img/encabezado.jpg');
    height: 100vh;
    background-position: top center;
    background-size: cover;
}


div.contenido-header{
    padding-top: 40px;
}

@media only screen and (min-width:768px){
    div.contenido-header{
        padding-top: 10px;
    }
}

nav.redes-sociales{
    text-align: center;
}

nav.redes-sociales a{
    color: #ffffff;
    font-size: 2em;
    margin-right: 20px;
}

nav.redes-sociales a:last-child{
    margin-right: 0;
}

div.informacion-evento{
    text-align: center;
    color: #fff;
}


@media only screen and (min-width:768px){
    div.informacion-evento{
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}


div.informacion-evento p{
    margin: 0;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}

div.informacion-evento p i{
    color: #fe4918;
    font-size: 2.4rem;
}

p.fecha{
    float: left;
}

p.ciudad{
    float: right;
    text-align: right;
}

p.slogan{
    text-transform: none !important;
}

p.slogan span{
    font-weight: bold;
}

h1.nombre-sitio{
    font-size: 5.9vw;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

@media only screen and (min-width:768px){
   h1.nombre-sitio{
       font-size: 11.5vw;
       margin: 0;
       line-height: 1;
    }
}


/*Barra*/
div.barra{
    background-color: #353535;
    padding: 20px 0;
}

div.logo{
    width: 80%;
    float: left;
}
div.logo img{
    width: 100%;
}

@media only screen and (min-width:768px){
    div.logo{
        width: 33%;
    }
}


nav.navegacion-principal{
    display: none;
}


nav.navegacion-principal a{
    font-family: 'Oswald';
    padding: 5px;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease;
    margin-bottom: 20px;
    /**/
    width: 100%;
    display: block;
    text-align: center;
}

nav.navegacion-principal a:hover{
/*    text-decoration: underline;*/
    background: #fe4918;
}

nav.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
}
nav.navegacion-principal a:last-child:hover{
    color: #fff;
}


@media only screen and (min-width:768px){
    nav.navegacion-principal{
        width: 67%;
        float: right;
        text-align: right;
        display: block;
/*        margin-top: -50px;*/
    }


    nav.navegacion-principal a{
        margin-right: 10px;
        padding: 10px 20px;
        display: inline-block;
        width: auto;
        text-align: center;
        margin-bottom: 0 10px 0 0;
        
    }

}



/*menu movil*/
div.menu-movil{
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
    cursor: pointer;
}


div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: #fff;
    display: block;
}

@media only screen and (min-width:768px){
    div.menu-movil{
        display: none;
    }
    div.menu-movil span{
        display: none;
    }
}
@media only screen and (min-width:768px){
    div.menu-movil{
        display: none;
    }
}

.seccion{
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}

.seccion p{
    font-size: 1.2em;
    text-align: center;
}

/*Talleres*/
section.programa{
    position: relative;
}

div.contenedor-video{
    max-width: 100%;
    overflow-x: hidden;
}

div.contenido-programa{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.programa-evento{
    background-color: rgba(255, 255, 255, .8);
    padding: 15px;
}

@media only screen and (min-width:768px){
    div.programa-evento{
        width: 70%;
    }
}

@media only screen and (min-width:992px){
    div.programa-evento{
        width: 50%;
    }
}

nav.menu-programa{
    width: 100%;
    border-bottom: 1px solid #fe4910;
    padding-bottom: 10px;
}
nav.menu-programa a{
    display: block;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: 'Oswald';
    margin-bottom: 10px;
    font-size: 1.2em;
}


@media only screen and (min-width:768px){
    nav.menu-programa{
        display: table;
    }
    nav.menu-programa a{
        display: table-cell;
    }
}

nav.menu-programa a i,div.detalle-evento p i{
    color: #fe4910;
    font-size: 1.6em;
    margin-right: 10px;
}

/*detalle eventp*/
div.detalle-evento{
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding: 0 20px;
}

div.detalle-evento:nth-child(2){
    border: none;
}

div.detalle-evento p{
    margin-bottom: 20px;
    font-size: 20px;
}


ul.lista-invitados li{
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px){
    ul.lista-invitados li{
        width: 50%;
    }
}

@media only screen and (min-width:768px){
    ul.lista-invitados li{
        width: 33.3%;
    }
}

div.invitados{
    position: relative;
    overflow: hidden;
}

div.invitados img{
    max-width: 100%;
    filter: grayscale(100%);
    transition: all .5s ease;
}

div.invitados:hover img{
    filter: none;
    transform: scale(1.1);
}

div.invitados:hover p{
    bottom: -80px;
    opacity: 0;
}
div.invitados p{
    transition: all .5s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px 10px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    color: #fe4910;
    text-align: left;
    font-family: 'Oswald';
    text-transform: uppercase;
}


/*Contador*/

.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(.8);
}

div.contador{
    position: relative;
    height: auto;
}

div.contador::before{
    background-image: url(../img/bg-resumen.jpg);
    content: '';
}

ul.resumen-evento{
    position: relative;
    padding: 120px 0;
}

ul.resumen-evento li{
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald';
}

p.numero{
    color: #fe4918;
    font-size: 4em;
    display: block;
    margin: 0 0 10px 0;
    font-family: 'Oswald';
}

@media only screen and (min-width:768px){
    ul.resumen-evento li{
        width: 25%;
    }
}


section.precios{
    margin-left: 12%;
}
/*Precios*/
ul.lista-precios > li{
    padding: 10px;
}

@media only screen and (min-width:768px){
    ul.lista-precios > li{
        float: left;
        width: 33.3%;
    }
}

div.tabla-precio{
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: 40px 0;
    text-align: center;
    transition: all .3s ease;
}


div.tabla-precio:hover{
    transform: scale(1.1);
    border: 1px solid #fe4918;
    box-shadow: 0px 0px 50px #666;
}
div.tabla-precio ul li:before{
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 20px;
    color: green;
    content: '\f00c';
}

div.tabla-precio ul li{
    font-family: 'PT Sans';
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #868686;
    line-height: 26px;
}

div.tabla-precio h3{
    font-family: 'Oswald';
    font-size: 16px;
    text-transform: uppercase;
}

div.tabla-precio p.numero{
    color: #000;
    margin: 20px 0;
    font-size: 3em;
}

div.mapa{
    height: 420px;
    background: green;
}


/*Testimoniales*/
div.testimoniales{
    padding-bottom: 20px;
    margin-left: 5%;
}

div.testimonial{
    padding: 5px;
}


@media only screen and (min-width:768px){
    div.testimonial{
        float: left;
        width: 33.3%;
    }
}

blockquote{
    background-color: #fff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}
blockquote p{
    text-align: justify!important;
    font-size: 1em !important;
    font-family: 'PT Sans';
    padding: 0 20px 0 65px;
    
}

blockquote p::before{
    content: '\201c';
    position: absolute;
    left: 13px;
    top: 8px;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    color: #fe4910;
}


footer.info-testimonial{
    padding: 0;
    background: transparent;
}

footer.info-testimonial img{
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
}

footer.info-testimonial cite{
    text-align: left;
    color: #fe4910;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}

footer.info-testimonial cite span{
    color: #000;
    display: block;
    text-transform: none;
    margin-top: 5px;
}

/*Newsletter*/
div.newsletter{
    position: relative;
    height: auto;
}

div.newsletter::before{
    background: url(../img/bg-newsletter.jpg);
    content: '';
}

div.newsletter .contenido{
    padding: 100px 0;
    color: #fff;
    text-align: center;
    position: relative;
}

div.newsletter .contenido p{
    font-size: 1.2em;
    text-transform: lowercase;
}

div.newsletter .contenido h3{
    color: #fff;
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'PT Sans';
}

.button.transparente{
    background-color: transparent;
    border: 2px solid #fff;
}


div.cuenta-regresiva{
    margin-left: 5%;
}

div.cuenta-regresiva ul li{
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 1.6rem;
}

@media only screen and (min-width:768px){
    div.cuenta-regresiva ul li{
        width: 25%;
        float: left;
    }
}

footer{
    background: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor > div{
    color: #fff;
    padding: 0pc 20px;
    font-size: 12px;
    text-align: justify;
    padding-left: 120px;
}

@media only screen and (min-width:768px){
    footer .contenedor > div{
        width: 33.3%;
        float: left;
    }
}

footer h3{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald';
    margin-bottom: 20px;
}

footer h3 span{
    color: #fe4910;
}

footer.ultimos-tweets li{
    margin-bottom: 10px;
}

footer nav.redes-sociales{
    text-align: left;
}

p.copyr{
    background: #2e2e2e;
    color: #fff;
    margin: 20px 0 0 0;
    text-align: center;
    padding: 10px 0;
}
/*
==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
