<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="jumbotron">App con Vue</h1>

				<div id="app">
					<!--Prueba <b>{{message}}</b>-->
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th>Descripción</th>
								<th>Monto</th>
								<th>Cancelado?</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td>
									<input type="text" class="form-control" v-model="newEntry.name">
								</td>
								<td>
									<input type="text" class="form-control" v-model="newEntry.ammount">
								</td>
								<td>
									<button @click="add()" class="btn btn-success btn-block">Agregar</button>
								</td>
							</tr>
							<tr v-for="item,index in items">
								<td>
									<button class="btn btn-danger" @click="remove(index)">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
								</td>
								<td>{{ item.name }}</td>
								<td>{{ item.ammount.toFixed(2) }}</td>
								<td :title="item.paid? 'SI' : 'NO'">
									<button 
											@click="changeToPaid(item)"
											class="btn btn-default" 
											:class="{ 'btn-success': item.paid}"
											>
										<i v-if="item.paid" class="glyphicon glyphicon-ok"></i>
										<i v-if="!item.paid" class="glyphicon glyphicon-remove"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>Por pagar {{totalAmmount(0)}}</td>
								<td></td>

							</tr>

							<tr>
								<td></td>
								<td></td>
								<td>Pagado {{totalAmmount(1)}}</td>
								<td></td>

							</tr>

							<tr>
								<td></td>
								<td></td>
								<td>Total {{totalAmmount(2)}}</td>
								<td></td>

							</tr>
							<tr v-if="items.length === 0">
								<td colspan="4">No hay registros por mostrar</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',//elemento
			data: {//parametros
				//message: 'Vuejs'

				newEntry: {
					name: '',
					ammount: 0
				},

				items: [
					{ name: 'Servicios', ammount: 200, paid: false },
					{ name: 'Elemento 1', ammount: 400, paid: true },
					{ name: 'Elemento 2', ammount: 400, paid: true },
					{ name: 'Elemento 3', ammount: 400, paid: true },
					{ name: 'Elemento 4', ammount: 400, paid: false },
					{ name: 'Elemento 5', ammount: 400, paid: false },
					{ name: 'Elemento 6', ammount: 400, paid: true },
				]
			},
			methods: {
				remove(index){
					//alert(index);
					this.items.splice(index, 1);
				},

				add(){
					if(this.newEntry.name!='' && this.newEntry.ammount > 0){
						this.items.push({
							name: this.newEntry.name,
							ammount: parseFloat(this.newEntry.ammount),
							paid: false
						});
						this.newEntry.name = '';
						this.newEntry.ammount = 0;
					}
				},

				changeToPaid(item){
					item.paid = !(item.paid);
				},
				totalAmmount(t){
					var total = this.items.reduce(function(a, b){
						switch(t){
							case 0:
								return a + (!b.paid ? b.ammount : 0);
								break;
							case 1:
								return a + (b.paid ? b.ammount : 0);
								break;
							case 2: 
								return a + b.ammount;
								break;
						}

						/*if(b.paid){
							return a + b.ammount;	
						}else{
							return a;
						}*/
						
					}, 0);

					return total.toFixed(2);
				}
			}
		
		})
	</script>
</body>
</html>